menu "HISI(HI6950) Drivers"

source "drivers/hisi/sec/Kconfig"
source "drivers/hisi/balong_fs/Kconfig"
source "drivers/hisi/ddr/Kconfig"
source "drivers/hisi/edma/Kconfig"
source "drivers/hisi/modem/Kconfig"
source "drivers/hisi/hkadc/Kconfig"
source "drivers/hisi/emi/Kconfig"
source "drivers/hisi/multicarrier/Kconfig"
source "drivers/hisi/spe/Kconfig"
source "drivers/hisi/dialup_hsuart/Kconfig"
source "drivers/hisi/cpuidle/Kconfig"
source "drivers/hisi/pm/Kconfig"
source "drivers/hisi/sdio_slave/Kconfig"
source "drivers/hisi/pinctrl/Kconfig"
source "drivers/hisi/watchpoint/Kconfig"
source "drivers/hisi/tzdriver/Kconfig"
source "drivers/hisi/rdr/Kconfig"
endmenu
